; System Migovec 
; (c) 1994 - 1997 Imperial College Caving Club
; Surveyed to BCRA Grade 5b

;batshit passage

;Date: 11/08/97 
;Instruments: Jim Evans
;Book: Mike Playford

;Data entered by C. Griffith on 12/08/97

;data normal bcra grade 5
;from	to	tape	comp	clino

*equate batshitb.13 batshit2.1

*begin batshit2

1	2	6.03	129	26  ; stn 13 of original batshit
2	3	3.78	108	23
3	4	1.70	011	19
4	5	1.24	-	down
5	6	6.65	089	25
6	7	1.58	262	44  ; stn 7 is permanent

*end batshit2
