;test of data file saving

;Date: 04/08/00 
;Instruments: Ben
;Book: Ben

;Data entered by Ben on 04/08/00 

*begin        test

;data normal bcra grade 5
;from   to  tape    comp    clino

 1             2             56            234          ; 34 
 1             2             3             4            ; 4 
 6             7             8             9            ; 45 
*end          test
