*begin friendship

*include hydrophobia
*include straightjacket
*include rejuvenation_rift
*include time_bandits
*include cuckoos_nest
*include xanadont
*include euphrates
*include xanadu
*include friend
*include candyMountain
*include euphrates2

*end friendship
